<footer class="footer">
    <div class="container footer-content">
        <div class="footer-left">
            <p>&copy; 2026 Bika Alfa. All rights reserved.</p>
        </div>
        <div class="footer-right">
            <div class="social-links-footer">
                <a href="https://linkedin.com/in/muhammad-bika-alfatunnisa-5820bb280" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://wa.me/6289522809056" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</footer>
